.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .test-mode, .navigations, .user-details, .notifications {
    display: flex;
  }

  .test-mode {
    span {
      color: #172B4D;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.08px;
      line-height: 19px;
      text-align: left;
      margin-left: 10px;
    }

    .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label::before {
      background-color: #21ba45!important;
      height: 15px;
      margin-top: 3px;
    }
  }

  .notifications {
    position: relative;
    align-items: center;
    font-size: 24px;

    .notification-count {
      position: absolute;
      top: -5px;
      right: -8px;
      background-color: #DE3618;
      border-radius: 100%;
      width: 16px;
      height: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #fff;
      font-weight: bolder;
    }
  }

  .test-mode, .notifications {
    margin-right: 25px;
  }

  
  .header-title {
    width: 30%;
    
    h2 {
      color: #172B4D;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 0.16px;
      text-align: left;
    }
  }
  
  .navigations {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
  }

  .user-details {
    display: flex;
    align-items: center;

    .oval {
      background-color: #D8D8D8;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    .username {
      color: #172B4D;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.07px;
      text-align: right;
    }
  }
}
