.layout {
  background-color: #F7F6F3;
  min-height: 100vh;
  display: flex;
  overflow: auto;

  .body {
    display: flex;
    flex-direction: column;
    width: 82%;
    padding: 18px 100px;
  }
}
